/*==================================
TYPOGRAPHY SCALE
==================================*/

h1{

font-size:clamp(2.8rem,5vw,4.5rem);

font-weight:700;

line-height:1.1;

}

h2{

font-size:clamp(2rem,4vw,3rem);

font-weight:700;

}

h3{

font-size:1.5rem;

}

h4{

font-size:1.2rem;

}

p{

line-height:1.8;

color:var(--text-light);

}

.small{

font-size:.9rem;

}

.text-center{

text-align:center;

}