/* =================================
   TOPCARE AI DROPDOWN
================================= */


.tc-dropdown {

    position:relative;

    display:inline-block;

}



.tc-dropdown-menu {

    position:absolute;

    top:calc(100% + 10px);

    right:0;

    min-width:200px;

    background:white;

    border-radius:14px;

    padding:10px;

    box-shadow:
    0 15px 40px rgba(15,23,42,.15);

    opacity:0;

    visibility:hidden;

    transform:translateY(-10px);

    transition:.25s ease;

    z-index:100;

}



.tc-dropdown:hover 
.tc-dropdown-menu {

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}



.tc-dropdown-item {

    display:block;

    padding:12px 15px;

    border-radius:10px;

    text-decoration:none;

    color:#334155;

}



.tc-dropdown-item:hover {

    background:#f1f5f9;

}