/* =================================
   TOPCARE AI PAGINATION
================================= */


.tc-pagination {

    display:flex;

    align-items:center;

    gap:8px;

}



.tc-page-item {

    width:40px;

    height:40px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:10px;

    background:#f1f5f9;

    color:#334155;

    text-decoration:none;

    font-weight:600;

}



.tc-page-item:hover,
.tc-page-active {

    background:#2563eb;

    color:white;

}