/* =================================
   TOPCARE AI PROGRESS
================================= */


.tc-progress {

    width:100%;

    height:10px;

    background:#e2e8f0;

    border-radius:999px;

    overflow:hidden;

}



.tc-progress-bar {

    height:100%;

    background:#2563eb;

    border-radius:inherit;

    transition:.4s ease;

}



.tc-progress-success {

    background:#16a34a;

}



.tc-progress-warning {

    background:#f59e0b;

}