/*==================================================
  TOPCARE SECTION SYSTEM
  File : section.css
==================================================*/


/*==================================================
  SECTION
==================================================*/

.section{

    padding:var(--space-24) 0;
}


/*==================================================
  SECTION HEADER
==================================================*/

.section-title{

    text-align:center;

    margin-bottom:var(--space-16);
}

.section-title h2{

    font-size:var(--fs-4xl);

    font-family:var(--font-heading);

    font-weight:var(--fw-700);

    color:var(--text);

    margin-bottom:var(--space-4);
}

.section-title p{

    max-width:700px;

    margin-inline:auto;

    color:var(--text-light);

    font-size:var(--fs-lg);

    line-height:var(--lh-relaxed);
}