/* =================================
   TOPCARE AI SIDEBAR
================================= */


.tc-sidebar {

    width:280px;

    height:100vh;

    background:#0f172a;

    padding:25px;

    position:fixed;

    left:0;

    top:0;

}



.tc-sidebar-link {

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px 15px;

    border-radius:10px;

    color:#cbd5e1;

    text-decoration:none;

    margin-bottom:8px;

}



.tc-sidebar-link:hover,
.tc-sidebar-active {

    background:#2563eb;

    color:white;

}