/* =================================
   TOPCARE AI TABS
================================= */


.tc-tabs {

    display:flex;

    gap:10px;

    border-bottom:1px solid #e2e8f0;

}



.tc-tab {

    padding:12px 20px;

    cursor:pointer;

    color:#64748b;

    font-weight:600;

}



.tc-tab-active {

    color:#2563eb;

    border-bottom:3px solid #2563eb;

}