<nav class="navbar">

    <div class="navbar__container">

        <a href="#" class="navbar__brand">

            <span class="navbar__logo">

                {{logo}}

            </span>

            <span class="navbar__name">

                {{brand}}

            </span>

        </a>

        <ul class="navbar__menu">

            {{menus}}

        </ul>

        <div class="navbar__actions">

            <a
            href="#"
            class="btn btn-text">

            {{login}}

            </a>

            <a
            href="#"
            class="btn btn-primary">

            {{register}}

            </a>

        </div>

    </div>

</nav>